# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.env
backend/data/documents/Lec-1-Cpp.pdf
backend/data/documents/Lec-2-Cpp.pdf
backend/data/documents/Lec-3-Cpp.pdf
backend/data/documents/Lec-4-Cpp.pdf
backend/chroma_db/3b2eefcd-4ca7-4013-99fe-fa0e09b5c8ac/link_lists.bin
backend/chroma_db/3b2eefcd-4ca7-4013-99fe-fa0e09b5c8ac/length.bin
backend/chroma_db/3b2eefcd-4ca7-4013-99fe-fa0e09b5c8ac/header.bin
backend/chroma_db/3b2eefcd-4ca7-4013-99fe-fa0e09b5c8ac/data_level0.bin
backend/chroma_db/chroma.sqlite3
